<mat-toolbar color="accent" fxLayout="row" fxLayoutAlign="space-between center">
  <div id="left-side" fxLayout="row" fxLayoutAlign="space-between center">
    <img src="assets/img/eatw-time-logo-neg.png" alt="Logo">
  </div>

  <div id="right-side" fxLayout="row" fxLayoutAlign="space-between center">
    <div id="time" fxLayout="column" fxLayoutAlign="start end">
      <span>{{time}}</span>
      <span class="mat-small" *ngIf="selectedZone">{{selectedZone.name}}</span>
    </div>
    <button (click)="openTimezoneSelectDialog()" mat-icon-button aria-label="Button for changing timezone">
      <mat-icon>map</mat-icon>
    </button>
  </div>
</mat-toolbar>
