@import '~@angular/material/theming';

#punch-container {
  margin-bottom: 20px;

  .badge-number {
    min-width: 100%;
    padding: 15px;
    background: mat-color($mat-gray, 200);
    border-radius: 10px;
    margin: 0;
    text-align: center;

    &.placeholder {
      color: mat-color($mat-gray, 400);
    }
  }
}

.punch-button {
  width: 80%;
  height: 80%;

  &.clear {
    background: mat-color($mat-amber, 500);
  }

  &.submit {
    background: mat-color($mat-light-green, 500);
  }
}


