<div id="punch-container" fxLayout="row" fxLayoutAlign="center center">
  <div class="badge-number mat-display-2" *ngIf="number">{{number}}</div>
  <div class="badge-number placeholder mat-display-2" *ngIf="!number">Badge number</div>
</div>

<mat-grid-list cols="3" rowHeight="80px">
  <mat-grid-tile
    *ngFor="let tile of tiles"
    colspan="1"
    rowspan="1">
    <button [ngClass]="tile.cssClass" class="punch-button" mat-raised-button (click)="tile.callback(tile)">
      <span class="mat-h2">{{tile.text}}</span>
    </button>
  </mat-grid-tile>
</mat-grid-list>
