@import '~@angular/material/theming';

#punch-in-button {
  margin-top: 15px;
  background: mat-color($mat-light-green, 500);
}

.mat-tab-content {
  margin-top: 15px;
}

.still-working {
  color: mat-color($mat-deep-orange, 500);
}
