<mat-card>
  <mat-card-header>
    <img mat-card-avatar [src]="imgSrc">
    <mat-card-title>{{name}}</mat-card-title>
    <mat-card-subtitle>#{{user}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="punchForm" autocomplete="off" novalidate fxLayout="column">
      <mat-form-field class="w-100">
        <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="myDatepicker" formControlName="businessDate">
        <mat-error *ngIf="punchForm.get('businessDate').errors?.minDate">Choose on of the available dates</mat-error>
        <mat-error *ngIf="punchForm.get('businessDate').errors?.maxDate">Choose on of the available dates</mat-error>
        <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #myDatepicker></mat-datepicker>
      </mat-form-field>

      <button id="punch-in-button" mat-raised-button [disabled]="punchForm.invalid">Punch in</button>
    </form>
  </mat-card-content>
</mat-card>
